<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quizzes</title>
</head>
<body>
    <h1>Quizzes for {{subject.name}}</h1>
    <table border="1">
        <tr>
            <th>Title</th>
            <th>Duration</th>
            <th>Date</th>
            <th>Actions</th>
        </tr>
        {% for quiz in quizzes%}
        <tr>
            <td>{{quiz.title}}</td>
            <td>{{quiz.time_duration}} minutes</td>
            <td>{{quiz.date_of_quiz}}</td>
            <td>
                {% if quiz.date_of_quiz == today %}
                    <form method="get" action="{{url_for('attempt_quiz', quiz_id=quiz.id)}}" style="display:inline">
                        <button type="submit">Attempt</button>
                    </form>
                {% elif quiz.date_of_quiz > today %}
                    <span style="color: orange;">Upcoming Quiz</span>
                {% else %}
                    <span style="color: red;">Quiz Expired</span>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
    <hr>
    <a href="{{url_for('user.user_subjects')}}">Back to Subjects</a>
</body>
</html>